.app-navbar.row.indigo.accent-2.z-depth-2
  h4 Navbar
  a.button-collapse(data-activates='slide-out', sidenav='')
    i.mdi-navigation-menu
nav
  ul#slide-out.side-nav
    li
      a First Sidebar Link
    li
      a Second Sidebar Link
