<div class="row">
  
  <form class="col s8 offset-s2" name="loginForm" ng-submit="login.loginGo(login.user)">
    
    <h4>Control de medidores de agua</h4>

    <div class="row">
      <label for="first_name">Email</label>
      <input id="first_name" type="email" class="validate" ng-model="login.user.email" required>
    </div>
    
    <div class="row">
      <label for="last_name">Contraseña</label>
      <input id="last_name" type="password" class="validate" ng-model="login.user.password" required>
    </div>
    
    <button class="btn waves-effect waves-light indigo accent-2" type="submit" name="action" ng-disabled="loginForm.$invalid">
      Ingresar
      <i class="material-icons right">send</i>
    </button>
    
  </form>
</div>