// Styles for section

.app-section {
  margin-top: 60px;
  /* Same height that navbar because it's fixed */
  padding: 10px;
  &.ng-enter {
    transition: 0.5s;
    opacity: 0;
  }
  &.ng-enter-active {
    opacity: 1;
  }
}