/* Overwrite materalize styles */
nav{
  background-color: transparent;
  height: 60px;
}
/* End overwrite materalize styles*/

.app-navbar {
  position: fixed;
  height: 60px;
  width: 100%;
  top: 0;
  text-align: center;
}

.button-collapse{
  cursor: pointer;
}
